<div class="card text-center p-4 m-4">
  <div class="card-header">
   <h1>Note Maker Application</h1> 
  </div>
  <div class="card-body">
    <h3 class="card-title">Time and Tide Wait for None</h3>
    <p class="card-text"> This application will hellp you to make the  ToDo List</p>
    <a [routerLink]="['/about']" class="btn btn-success m-3"> View Note</a>
    <a [routerLink]="['/contact']" class="btn btn-primary"> Create Note</a>
  </div>
</div>


<h2 class="text-center text-danger">Copyright Ⓒ - Jayanta Ghosh</h2>
<h2 class="text-center text-danger">Contact: <span><i class="fab fa-github"></i></span><a href="https://github.com/Jayanta98">GitHub-JayantaGhosh</a></h2>